[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-decouple = "*"
routers = "*"
pillow = "*"
flake8 = "*"
django-extensions = "*"
model-bakery = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
collectfast = "*"
django-s3-folder-storage = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
